@use '../__builtins__/styles/common.scss';
@use '../__builtins__/styles/element-plus.scss' as ElementPlus;

.#{common.$moluoxixi-prefix}-form-drawer {
  .el-drawer__body {
    display: flex;
    flex-direction: column;
  }

  &-body {
    flex: 1;
    overflow: auto;
    padding: ElementPlus.$dialog-padding-primary;
  }

  &-footer {
    padding: ElementPlus.$dialog-padding-primary;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
